/* Imports */
/* ----------------------------------------------------

	* Filename:		base.less

-----------------------------------------------------*/
/* Imports */
/* ----------------------------------------------------

    * Filename:     reset.less

-----------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  text-decoration: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:focus,
a:focus,
a:active {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
/* Generic */
body {
  font-family: 'Lato';
  font-size: 16px;
  padding: 50px;
  background: #000;
}
/* Phone */
.phone {
  display: block;
  width: 435px;
  height: 810px;
  margin: 0 auto;
  background: url('../images/iphone.png') no-repeat center center transparent;
  background-size: cover;
  position: relative;
}
.phone .screen {
  display: block;
  position: absolute;
  top: 120px;
  left: 60px;
  width: 318px;
  height: 566px;
  overflow: hidden;
}
.phone .content {
  -webkit-transition: all 300ms ease-in-out, opacity 300ms ease;
  -moz-transition: all 300ms ease-in-out, opacity 300ms ease;
  -ms-transition: all 300ms ease-in-out, opacity 300ms ease;
  -o-transition: all 300ms ease-in-out, opacity 300ms ease;
  transition: all 300ms ease-in-out, opacity 300ms ease;
  background: url('../images/dribbble.jpg') no-repeat top center transparent;
  display: block;
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}
.phone .content.inactive {
  -webkit-transform: translate3d(160px, 0px, 0px) scale(0.5);
  opacity: 0.6;
}
.phone .content.inactive:hover {
  opacity: 1;
  cursor: pointer;
}
.phone .content .button {
  display: block;
  width: 60px;
  height: 60px;
  text-indent: -999em;
}
/* Menu */
.menu {
  display: none;
  list-style: none;
  position: relative;
  z-index: 3;
}
.menu.open {
  display: block;
  height: 100%;
  background: url('../images/menu_bg.jpg') no-repeat center center transparent;
  background-size: cover;
  margin: 0;
  box-sizing: border-box;
  padding: 90px 0 0 60px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 3;
}
.menu li {
  -webkit-transition: all 400ms ease-in-out, opacity 1000ms ease;
  -moz-transition: all 400ms ease-in-out, opacity 1000ms ease;
  -ms-transition: all 400ms ease-in-out, opacity 1000ms ease;
  -o-transition: all 400ms ease-in-out, opacity 1000ms ease;
  ransition: all 400ms ease-in-out, opacity 1000ms ease;
  -webkit-transform: translate3d(-150px, 0px, 0px) scale(0.2);
  display: block;
  opacity: 0;
}
.menu li.visible {
  -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
  opacity: 1;
}
.menu li:hover {
  -webkit-transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.menu li a {
  padding: 10px 0;
  display: block;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.menu li a:hover {
  color: #ddd;
}
